.productList{
    padding: 50px 100px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.productList-text{
    width: 65%;
}

.productList-title{
    font-size: 50px;
    font-weight: 600;
    color: #e05626;
}

.productList-desc{
    margin: 20px 0px;
}

.product-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}