.about{
    height: 100vh;
    display: flex;
    align-items: center;
}


.about-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-right{
    flex: 1;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;

}

.a-img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    margin-left: 5vh;
    border-radius: 60px;
}

.about-title{
    font-size: 60px;
    font-weight: 400;
    color: #e05626;
}

.about-sub{
    margin: 20px 0;
    width: 85%;
    font-size: 20px;
}


@media screen and (max-width: 480px) {
    .about{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
    }
    .about-left{
        width: 100px;
    }
    .a-card{
        height: 74vh;
        width: 50%;
    }

    .about-right{
        padding: 20px;
    }
    
}